trigonometry.png
age_sal_tree.dot
age_sal_tree.png
age_sal_tree.png
age_tree.dot
age_tree.png
small_tree.png
telecom_tree.png
titanic_tree_depth2.dot
titanic_tree_depth2.png
titanic_tree_tuned.dot
titanic_tree_tuned.png
churn_tree.png
churn_tree.dot
deep_toy_tree.png
deep_toy_tree.dot
